body {
	height: 100vh;
	width: 100vw;
	display: block;
	color: #A1A8BA;
	font-family: "Cabin Sketch";
	margin: 0;
	background-color: #000000;
}

.column {
	height: 33%;
	width: 100%;
}
.column2 {
	height: 33%;
	width: 100%;
	display: flex;
}
.square {
	height: 100%;
	width: calc(100%/3);
	display:flex;
}

.blue {
	background-color: #43AAFF;
}

.green {
	background-color: #131414;
}
.pink {
	background-color: black;
}

.center-content{
	display:flex;
	align-items: center;
	justify-content: center;
}
.restrict-img-size {
	height: 100%;
	width: 100%;
}
.btn{
 -moz-transition: all 2s ease;
 -o-transition: all 2s ease;
 -webkit-transition: all 2s ease;
  }

 .btn:hover{
  background-color:#6796B8; 
 -moz-transform:translate(0,-1.3em);
 -o-transform:translate(0,-1.3em);
 -webkit-transform:translate(0,-1.3em);
  }
  .btn2{
 -moz-transition: all 2s ease;
 -o-transition: all 2s ease;
 -webkit-transition: all 2s ease;
  }

 .btn2:hover{
  background-color:#6796B8; 
 -moz-transform:translate(0,1.3em);
 -o-transform:translate(0,1.3em);
 -webkit-transform:translate(0,1.3em);
  }